# BEGIN React app client-side routing rules
Options -MultiViews
RewriteEngine On
RewriteBase /

# If the requested path is not a file or directory, route to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

# END React app client-side routing rules